<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        div {
            display: flex;
            gap: 10px;
            margin-bottom: 10px;
        }
        span {
            -webkit-user-select: none;
            user-select: none;
            color: blueviolet;
        }
        p {
            margin: 0;
        }
    </style>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/api/auth/signup" method="post">
        <div>
            <label for="fullName">FullName</label>
            <input type="text" name="fullName" id="fullName" placeholder="Enter your fullName" minlength="6" maxlength="50" required>
            <p>fullName must be at least 6 characters and at most 20 characters</p>
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Enter your username" minlength="5" maxlength="20" required>
            <p>Username must be at least 5 characters and at most 20 characters</p>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter your email" required>
            <p>e.g., hello@example.com</p>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" required minlength="6" maxlength="8"> <span data-password-visibility="show">show</span>
            <p>Password must be at least 6 characters and at most 8 characters</p>
        </div>
        <input type="submit">
        <br>
        <br>
        <p>Already a User? <a href="./login.html">Login</a></p>
    </form>
    <script>
        let span = document.getElementsByTagName("span")[0];
        span.addEventListener("click",(e)=>{
            span.dataset.passwordVisibility = span.dataset.passwordVisibility === "show" ? "hide" : "show";
            span.textContent = span.dataset.passwordVisibility;

            if(span.dataset.passwordVisibility === "hide") {
                document.getElementById("password").type = "text";
            } else {
                document.getElementById("password").type = "password";
            }
        })
    </script>
</body>
</html>