.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px 30px;
}
.active-landScape-mode {
    grid-template-columns: 1fr 1fr !important;
}
.grid .grid-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
}
.grid-item p{
    color: var(--text-color);
}
.grid-item .grid-item-img-container{
    width: 100%;
    height: fit-content;
    border-radius: 12px;
    scale: 1;
    transition: var(--transition);
    overflow: hidden;
    cursor: pointer;
}
.grid-item .grid-item-img-container img{
    border-radius: 12px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    scale: 1;
    transition: var(--transition);
}
.active-landScape-mode .grid-item-img-container img{
    aspect-ratio: 16/9;
}
.grid-item:hover .grid-item-img-container{
    scale: .9;
}
.grid-item:hover .grid-item-img-container img{
    scale: 1.1;
}
@media (width < 767px) {
    .grid{
        gap: 20px;
    }
    .active-landScape-mode {
        grid-template-columns: 1fr !important;
    }
    .grid-item .grid-item-img-container{
        cursor:default;
    }
    .active-landScape-mode .grid-item-img-container img{
        aspect-ratio: 1/1;
    }
    .grid-item:hover .grid-item-img-container{
        scale: 1;
    }
    .grid-item:hover .grid-item-img-container img{
        scale: 1;
    }
}