.skill-wrapper{
    display: flex;
    flex-direction: column;
    --marquee-gap: 25px;
    gap: var(--marquee-gap);
    animation: var(--transform);
}
.marquee-row{
    display: flex;
    gap: var(--marquee-gap);
}

.marquee-row:last-child{
    margin-right: var(--marquee-gap);
}
.skill-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    background: var(--dt-normal-button-primary-background);
    padding: 10px 18px;
    transition: all var(--transition);
    cursor: pointer;
}
.skill-box:hover{
    background: var(--dt-normal-button-primary-hover-background);
}
.skill-box h1{
    font-size: 25px;
    font-weight: 500;
}
.skill-box svg{
    height: 45px;
    width: 45px;
}
.scroll div:nth-child(2){
    animation: scroll_2 var(--time) linear infinite; 
    animation-delay: calc(var(--time)/-2);
}
.scroll #div-2{
    padding-left: 50px;

}

@media (width < 567px) {
    .skill-box h1{
        font-size: 18px;
        font-weight: 500;
    }
    .skill-box svg{
        height: 40px;
        width: 40px;
    }
    .scroll div:nth-child(2){
        padding-left: 20px;
    }
}