.f-post-wrapper {
  background: var(--featured-bg);
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 100%;
  height: fit-content;
  margin-top: 50px;
  animation: var(--fadeIn);
}
.f-blog-sec-info {
  margin-top: 2.5rem;
  text-align: center;
  white-space: nowrap;
}
.f-blog-sec-info h1 {
  color: white;
}
.f-blog-content {
  padding: 40px 30px 40px 80px;
  overflow-x: scroll;
  display: flex;
  gap: 20px;
}
.f-post-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.f-post-btn .f-post-view-more-btn {
  color: white;
  background: var(--link-color);
  padding: 20px 15px;
  font-size: 13px;
  border-radius: 50%;
  transition: var(--transition);
}
.f-post-view-more-btn:hover {
  background: var(--link-hover);
}
@media (width <767px) {
  .f-post-wrapper {
    margin-top: 50px;
  }
  .f-blog-sec-info h1{
    font-size: 1.6rem;
  }
  .f-blog-content {
    padding: 30px 20px 40px 26px;
  }
}
