<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Home</title>
</head>
<body>
    <!-- notification -->
    <p class="response">Notification: <span></span></p>

    <!-- welcome message -->
    <h1>Welcome <strong class="fullName"></strong></h1>

    <!-- action buttons -->
    <div class="action-buttons">
        <button type="button" class="menu">Menu</button>
        <button type="button" class="profile-settings">Profile Settings</button>
        <button type="button" class="password-settings">Update Password</button>
    </div>

    <!-- menu -->
    <ul class="menu-list">
        <li><a href="#projects">Projects</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#courses">Courses</a></li>
        <li><a href="#certifications">Certificates</a></li>
        <li><a href="#testimonials">Testimonials</a></li>
        <li><a href="#faqs">FAQs</a></li>
    </ul>

    <!-- profile settings -->
    <form action="/api/profile" method="post" hidden>
        <div>
            <label for="fullName">FullName</label>
            <input type="text" name="fullName" id="fullName" placeholder="Enter your fullName" minlength="6" maxlength="50">
            <p>FullName must be at least 6 characters and at most 20 characters</p>
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Enter your username" minlength="5" maxlength="20">
            <p>Username must be at least 5 characters and at most 20 characters</p>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter your email">
            <p>e.g., hello@example.com</p>
        </div>
        <input type="submit">
    </form>
    
    <!-- update password -->
    <form action="/api/profile/change-password" method="post" hidden>
         <div>
             <label for="oldPassword">Old Password</label>
             <input type="password" name="oldPassword" id="oldPassword" placeholder="Enter new your oldPassword" minlength="6" maxlength="8"> <span data-password-visibility="show" onclick="togglePasswordVisibility(this)">show</span>
             <p>Password must be at least 6 characters and at most 8 characters</p>
         </div>
         <div>
             <label for="newPassword">New Password</label>
             <input type="newPassword" name="newPassword" id="newPassword" placeholder="Enter new your newPassword" minlength="6" maxlength="8"> <span data-password-visibility="show" onclick="togglePasswordVisibility(this)">show</span>
             <p>Password must be at least 6 characters and at most 8 characters</p>
         </div>
         <input type="submit">
    </form>

    <!-- sections -->
    <div class="container">
        <!-- project section -->
         <section id="projects">
            projects
         </section>
    </div>

    <script>

        // password hide and show logic
        function togglePasswordVisibility(element){
            element.dataset.passwordVisibility = element.dataset.passwordVisibility === "show" ? "hide" : "show";
            element.textContent = element.dataset.passwordVisibility;
            
            const passwordInput = element.previousElementSibling;

            if (element.dataset.passwordVisibility === "hide") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }

        // selectors
        let forms = document.querySelectorAll("form");
        let menulist = document.querySelector(".menu-list");
        let container = document.querySelector(".container");
        let responseEl = document.querySelector(".response");

        function UiTogglers(){
            // profile-settings
            document.querySelector(".profile-settings").addEventListener('click', ()=>{
                menulist.hidden = true;
                container.hidden = true;
                forms[1].hidden = true;
                forms[0].hidden = false;
                // for sticky menu: scroll back original content
                window.scrollTo({
                    top:80,
                    behavior: "smooth"
                })
            });
            
            // menulist
            document.querySelector(".menu").addEventListener("click", ()=> {
                // incase form is opened too
                container.hidden = false;
                forms[0].hidden = true;
                forms[1].hidden = true;
                menulist.hidden = false;
                window.scrollTo({
                    top:80,
                    behavior: "smooth"
                })
            });
            
            // password-settings
            document.querySelector(".password-settings").addEventListener("click", ()=>{
                container.hidden = true;
                forms[0].hidden = true;
                menulist.hidden = true;
                forms[1].hidden = false;
                window.scrollTo({
                    top:80,
                    behavior: "smooth"
                })
            })
        }

        UiTogglers();


        // ------------------------------------------- API CALLS --------------------------------------------

        // 1. getProfile
        function getProfile(){
            fetch("/api/profile").then(res => res.json()).then(data => {
                // welcome message
                document.querySelector(".fullName").textContent = data.fullName + "!";
                
                // update form values
                document.getElementById("fullName").value = data.fullName || "";
                document.getElementById("username").value = data.username || "";
                document.getElementById("email").value = data.email || "";
    
            }).catch(e => console.error("Error while fetching user data", e));
        }

        getProfile();

        // 2. updateProfile
        function updateProfile(){
            forms[0].addEventListener("submit", (e)=>{
                e.preventDefault();
    
                const formData = new FormData(e.target);
                const data = Object.fromEntries(formData.entries());
                console.log(data)
                fetch("/api/profile", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                }).then(res => res.json()).then(d => {
                    window.location.reload();
                }).catch(e=>console.error("error updating user data:", e));
            });
        }

        updateProfile();

        // 3. updatePassword
        function updatePassword(){
            forms[1].addEventListener("submit", (e)=>{
                e.preventDefault();
                const formData = new FormData(e.target);
                const data = Object.fromEntries(formData.entries());
                fetch("/api/profile/password", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)
                }).then(res => res.json()).then(d => {
                    responseEl.classList.add("active");
                    responseEl.lastChild.textContent = d;
                    setTimeout(()=>{
                        responseEl.classList.remove("active");
                    }, 2000);
                }).catch(e => console.error("Error updating password:", e));
            })
        }

        updatePassword();

    </script>
</body>
</html>