/* Base Layout */
.navbar-wrapper {
  z-index: 50;
}
:where(.navbar-wrapper, .navbar-overlay){
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
:where(.header, .navbar-overlay-header){
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  overflow: hidden;
  border: .2px solid transparent;
  height: 60px;
  background-color: var(--dt-pri-bg); 
  z-index: inherit;
}
:where(.header, .navbar-overlay) {
  padding: 0 2rem;
}
.navbar-overlay{
  height: 100dvh;
}

.navbar-overlay-header{
  height: 63px;
}

/* Responsive Design */
@media (max-width: 867px) {
  :where(.header, .navbar-overlay){
    padding: 0 1rem;
  }
}
