.categories-box{
    display: flex;
    justify-content: center;
    gap: 10px;
    overflow-y: hidden;
    overflow-x: scroll;
    mask: linear-gradient(90deg, white 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(90deg, white 60%, transparent 100%);
    padding-right: 3rem;
}
.categories-box .category-btn{
    all: unset;
    background: #7878781f;
    backdrop-filter: blur(33px);
    color: var(--text-color );
    padding: 7px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    white-space: nowrap;
    scale: 1;
    transition: var(--transition);
}
.active-category{
    background: var(--featured-bg) !important;
    color: var(--white) !important;
    transition: .1s ease;
}
@media (width <1067px ){
    .categories-box{
        justify-content: start !important;
    }
}